.container{
  position: relative;
  margin-top: 20px;
  border: 3px solid #49668b;
}

.activeShoot{
  border: 3px solid #39c03a;;
}

.row{
  display: flex;
}

.rowMarksContainer{
  width: 20px;
  height: 268px;
  position: absolute;
  top: 0;
  left: -30px;
  display: flex;
  flex-direction: column;
}

.colsMarksContainer{
  width: 268px;
  height: 20px;
  position: absolute;
  display: flex;
}

.rowMarks{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid transparent;
}

.collsMarks{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid transparent;
}
